@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #191c26;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  * {
    font-family: "Montserrat", sans-serif;
  }
}

.shadow-drop-r {
  box-shadow: 14px 11px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 14px 11px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 11px 7px 0px rgba(0, 0, 0, 0.75);
}
